body{
    background: #ffffff;
    font-family: Verdana;
  }
  
  
  #title .subtitle, .post_title{
    color: #000
  }
  #title{
    font-size: 40px;
    text-transform: uppercase;
  }
  a{
    text-decoration: line-through;
    color: #134914;
  }
  .photo{
    border: 1px solid black;
    border-radius:50%;
  }
  .post_title{
    font-size: 20px;
    font-style: italic;
    margin-bottom: 15px;
  }
  .post{
    background: white;
    padding: 15px;
    border: 3px solid #413e3e;
    margin-bottom:15px;
    border-radius: 10px;
  }
  
  .post_content{
    margin: 0;
    margin-bottom:15px ;
    text-transform: capitalize;
    
  }
  .post_imagem{
    margin-bottom: 19px;
  }
  .contacts_list{
    list-style-type: none;
  }
  